# Auto detect text files and perform LF normalization
* text=auto
Assets/POLYBOX/polyquest_islands_full_pack_vol.2/Scenes_examples/scenes_islands/Island_C/island_C_PQ1_min_card_cover_angeled.unity filter=lfs diff=lfs merge=lfs -text
Assets/POLYBOX/polyquest_islands_full_pack_vol.2/Scenes_layout/palm_all_trees_wide_black_prefabs.unity filter=lfs diff=lfs merge=lfs -text
Assets/POLYBOX/polyquest_islands_full_pack_vol.2/Scenes_layout/boats_sailship_black.unity filter=lfs diff=lfs merge=lfs -text
Assets/POLYBOX/polyquest_islands_full_pack_vol.2/Scenes_examples/scenes_islands/Island_C/island_C_PQ1_min_card_cover.unity filter=lfs diff=lfs merge=lfs -text
Assets/POLYBOX/polyquest_islands_full_pack_vol.2/Textures/tx_shore_gradient_all.psd filter=lfs diff=lfs merge=lfs -text
Assets/POLYBOX/polyquest_islands_full_pack_vol.2/Textures/xtras/cyclo_A_gradient_05.psd filter=lfs diff=lfs merge=lfs -text
Assets/POLYBOX/polyquest_islands_full_pack_vol.2/Scenes_layout/palm_all_trees_wide_black.unity filter=lfs diff=lfs merge=lfs -text
Assets/POLYBOX/polyquest_islands_full_pack_vol.2/Scenes_examples/scenes_islands/island_A/island_A.unity filter=lfs diff=lfs merge=lfs -text
Assets/POLYBOX/polyquest_islands_full_pack_vol.2/Scenes_examples/scenes_islands/Island_C/island_C_PQ1_min_card_cover_plants_plain.unity filter=lfs diff=lfs merge=lfs -text
Assets/00.Scenes/island_A.unity filter=lfs diff=lfs merge=lfs -text
